/**Estilo pagina discografia*/
main {

    h1 {
        font-family: $web-fuente;
        color: $fuente-color;
        font-size: 65px;
        padding-top: 10px;
        padding-bottom: 5px;

    }

    h2 {
        font-family: $web-fuente;
        color: $fuente-color;
        font-size: 35px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    p {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        font-family: $web-fuente;
        color: $fuente-color;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
    .discos {
        img {
            @include tam-margin();
            @keyframes zoomIn {
                from {
                    transform: scale(1);
                }

                to {
                    transform: scale(1.1);
                }
            }

            transition: transform 0.3s ease;

            &:hover {
                animation: zoomIn 0.3s ease;
            }
        }
    }

    .eps {
        
        img {
            @include tam-margin();
            @keyframes zoomIn {
                from {
                    transform: scale(1);
                }

                to {
                    transform: scale(1.1);
                }
            }

            transition: transform 0.3s ease;

            &:hover {
                animation: zoomIn 0.3s ease;
            }
        }
    }

    .simples {
        img {
            @include tam-margin();
            @keyframes zoomIn {
                from {
                    transform: scale(1);
                }

                to {
                    transform: scale(1.1);
                }
            }

            transition: transform 0.3s ease;

            &:hover {
                animation: zoomIn 0.3s ease;
            }
        }
    }
}