/*variable de fuente y color para todo el sitio*/
$web-fuente: 'Dosis', sans-serif;
$fuente-color: #fff;

/*estilos globales*/
body {
    background-color: #000;

    main {

        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    section {

        h1 {
            font-family: $web-fuente;
            color: $fuente-color;
            font-size: 65px;
            padding-top: 10px;
            padding-bottom: 5px;
        }

        h2 {
            font-family: $web-fuente;
            color: $fuente-color;
            font-size: 35px;
            padding-top: 10px;
            padding-bottom: 5px;
        }

        .nota_radio {
            width: 40%;
            height: 20%;
        }

        p {
            font-family: $web-fuente;
            color: $fuente-color;
            font-size: 20px;
            padding-top: 10px;
            padding-bottom: 5px;
        }

        iframe {
            padding-top: 10px;
            padding-bottom: 5px;
        }
    }


}